<mat-card class="example-card">
  <mat-card-content>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input
            matInput
            ngModel
            name="title"
            required
            min-lenght="3"
            #title="ngModel"
          />
          <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Message</mat-label>
          <textarea
            matInput
            ngModel
            name="content"
            required
            min-lenght="3"
            #content="ngModel"
          ></textarea>
          <mat-error *ngIf="content.invalid"
            >Please enter a post text</mat-error
          >
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <button mat-raised-button type="submit">Save Post</button>
      </mat-card-content>
    </form>
  </mat-card-content>
</mat-card>
